// Vue Multiselect
@import '../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';

// Vue Datetime
@import '../../node_modules/vue-datetime/dist//vue-datetime.css';

// Shed CSS
@import '../../node_modules/shed-css/dist/index.css';

td, th {
    vertical-align: middle !important
}

.width-md {
    max-width: 650px;
}

.width-sm {
    max-width: 450px;
}